body {
    background-color: var(--background);
}

#content {
    height: 100vh;
    width: 100vw;

    display: flex;
}

#content #side-form {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#content #side-form form {
  width: 550px;
}

#content #side-form #options {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
}

#content #side-form #send {
    height: 50px;

    margin-top: 20px;
}

#content #side-form #sign-in {
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#content #side-form #sign-in span {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;

    color: var(--primary-color);
}
